/*
  Dropdown menu
*/
.dropdown-menu-right {
    position: relative;
    left: 0.5rem;
}

.navbar-nav {
    transition: all 3s;
    li:hover > ul.dropdown-menu {
        display: block;
    }
}

.dropdown-submenu {
    position: relative;
    .dropdown-menu {
        top:-5px;
        /*left:-100%;*/
        left: 10rem; /* 10rem is the min-width of dropdown-menu */
    }
}

/* rotate caret on hover */
.dropdown-menu > li > a:hover:after {
    text-decoration: underline;
    transform: rotate(-90deg);
} 
  
  
  /*
  ---------------------------------------------------------
  */
.logo > img {
    max-height: 26px;
}
