.headline {
    background-image: url('../../images/headline.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100vw;
    height: 600px;
    .container {
        height: 100%;
        .row {
            height: inherit;
        }
    }
}