$blueColor: #74b5fc;
$btnColor: #007bff;

.headline {
    background-image: url('../../images/headline.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100vw;
    height: 600px;
    .container {
        height: 100%;
        .row {
            height: inherit;
            .intro {
                color: white;
                h1 {
                    font-size: 3rem;
                    font-weight: 700;
                    margin-bottom: 1.5rem !important;
                    span {
                        color: $blueColor;
                        text-decoration: underline;
                    }
                    
                }
            a {
                .btn {
                    width: 35%;
                    transition: .5s;
                }
                .btn-get-started {
                    border: 2px solid $btnColor !important;
                    &:hover {
                        background: transparent;
                        color: white;
                        border: 2px solid white !important;
                    }
                }
                .btn-out-services {
                    border: 2px solid white !important;
                    &:hover {
                        background: $btnColor;
                        color: white;
                        border: 2px solid $btnColor !important;
                    }
                }
            }   
            }
        }
    }
}