$blueColor: #74b5fc;
$btnColor: #007bff;
$blueBackground: #ecf5ff;

.services-background {
    background-color: $blueBackground;
}

.services {
    transition: .5s;
    &:hover {
        transform: translateY(-10px);
    }
    .icon-services {
        color: $btnColor;
    }    
}