<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <script src="https://kit.fontawesome.com/7f03acd592.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/about.css">
</head>
<body>
    <div class="container">
        <div class="row d-flex justify-content-center align-items-center text-center mt-5">
            <h2>About Us</h2>
            <div class="w-100"></div>
            <p class="col-lg-6 text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>

        <!--CHILDREN-->
        <div class="row mt-4 ">

            <div class="col-lg-6 "><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                <div class="w-100"></div>

                <div class="about-child d-flex align-items-center">
                 <i class="icon fas fa-briefcase fa-2x rounded-circle p-3 border "></i>
                    <div class="text ml-4">
                        <h5>Eiusmod Tempor</h5>
                        <p class="text-muted">1 Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi</p>
                    </div>
                </div>

            
            
                <div class="about-child d-flex align-items-center">
                    <i class="icon far fa-image fa-2x rounded-circle p-3 border "></i>
                    <div class="text ml-4">
                        <h5>Magni Dolores</h5>
                        <p class="text-muted">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
                    </div>
                </div>

                <div class="about-child d-flex align-items-center">
                    <i class="icon fas fa-chart-bar fa-2x rounded-circle p-3 border "></i>
                    <div class="text ml-4">
                        <h5>Dolor Sitema</h5>
                        <p class="text-muted">Minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat tarad limino ata</p>
                    </div>
                </div>
            </div>
            
            <div class="col-lg-6 order-first order-lg-last">
                <img class="w-100" src="../../images/about-img.svg" alt=""#>
            </div>  
        </div>

        <div class="row mt-5 d-flex align-items-center">
            <div class="col-lg-6">
                <img class="w-100" src="../../images/about-extra-1.svg" alt="#">
            </div>
            <div class="col-lg-6 mt-3">
                <h4>Voluptatem dignissimos provident quasi corporis voluptates sit assumenda.</h4>
                <p class="text-muted">Ipsum in aspernatur ut possimus sint. Quia omnis est occaecati possimus ea. Quas molestiae perspiciatis occaecati qui rerum. Deleniti quod porro sed quisquam saepe. Numquam mollitia recusandae non ad at et a.</p>
                <div class="w-100"></div>
                <p class="text-muted"> Ad vitae recusandae odit possimus. Quaerat cum ipsum corrupti. Odit qui asperiores ea corporis deserunt veritatis quidem expedita perferendis. Qui rerum eligendi ex doloribus quia sit. Porro rerum eum eum.</p>
            </div>
        </div>

        <div class="row mt-5 d-flex align-items-center mb-5">
            <div class="col-lg-6 order-lg-last">
                <img class="w-100" src="../../images/about-extra-2.svg" alt="#">
            </div>
            <div class="col-lg-6 mt-3">
                <h4>Neque saepe temporibus repellat ea ipsum et. Id vel et quia tempora facere reprehenderit.</h4>
                <p class="text-muted">Delectus alias ut incidunt delectus nam placeat in consequatur. Sed cupiditate quia ea quis. Voluptas nemo qui aut distinctio. Cumque fugit earum est quam officiis numquam. Ducimus corporis autem at blanditiis beatae incidunt sunt.</p>
                <div class="w-100"></div>
                <p class="text-muted">Voluptas saepe natus quidem blanditiis. Non sunt impedit voluptas mollitia beatae. Qui esse molestias. Laudantium libero nisi vitae debitis. Dolorem cupiditate est perferendis iusto.</p>
                <div class="w-100"></div>
                <p class="text-muted">Eum quia in. Magni quas ipsum a. Quis ex voluptatem inventore sint quia modi. Numquam est aut fuga mollitia exercitationem nam accusantium provident quia.</p>
            </div>
        </div>
    </div>


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>