<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!--EMOJI-->
    <link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">

    <script src="https://kit.fontawesome.com/7f03acd592.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/footer.css">
</head>
<body>
    <div class="footer-info jumbotron-fluid pt-5 pb-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <h1>NEWBIZ</h1>
                    <p class="font-weight-light">Cras fermentum odio eu feugiat lide par naso tierra. Justo eget nada terra videa magna derita valies darta donna mare fermentum iaculis eu non diam phasellus. Scelerisque felis imperdiet proin fermentum leo. Amet volutpat consequat mauris nunc congue.</p>
                </div>

                <div class="col-lg-2">
                    <p class="font-weight-bold mb-3 mt-3">USEFUL LINKS</p>
                    <a class="useful" href="#">Home</a>
                    <div class="w-100"></div>
                    <a class="useful" href="#">About us</a>
                    <div class="w-100"></div>
                    <a class="useful" href="#">Services</a>
                    <div class="w-100"></div>
                    <a class="useful" href="#">Terms of service</a>
                    <div class="w-100"></div>
                    <a class="useful" href="#">Privacy policy</a>
                </div>
                
                <div class="col-lg-3">
                    <p class="font-weight-bold mb-3 mt-3">CONTACT US</p>
                    <p class="mb-0">290B Duong Ba Trac</p>
                    <p class="mb-0"><span class="font-weight-bold">Phone:</span>  0932 625 091</p>  
                    <p class="mb-0"><span class="font-weight-bold">Email:</span> info@example.com</p>
                    <div class="icon-footer mt-3">
                        <i class="fab fa-twitter rounded-circle p-2 mr-2"></i>
                        <i class="fab fa-facebook-f rounded-circle p-2 mr-2"></i>
                        <i class="fab fa-instagram rounded-circle p-2 mr-2"></i>
                        <i class="fab fa-google-plus-g rounded-circle p-2 mr-2"></i>
                        <i class="fab fa-invision rounded-circle p-2 mr-2"></i>
                    </div>
                </div>

                <div class="col-lg-3">
                    <p class="font-weight-bold mb-3 mt-3">OUR NEWSLETTER</p>
                    <p class="font-weight-light">Tamen quem nulla quae legam multos aute sint culpa legam noster magna veniam enim veniam illum dolore legam minim quorum culpa amet magna export quem marada parida nodela caramase seza.</p>
                    <div class="form-row">
                        <div class="col-8">
                            <input type="email" name="email" class="form-control" required>
                        </div>
                        <button class=" col-4 btn btn-primary" type="submit">Subcribes</button>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="footer jumbotron-fluid pt-3 m-0">
        <div class="container">
            <div class="row d-flex justify-content-center align-items-center text-center">
                <p class="col-lg-6">© Copyright <span class="font-weight-bold">NewBiz</span>. All Rights Reserved</p>
                <div class="w-100"></div>
                <p class="col-lg-6">Designed by <i class="em em-raised_hands" ></i> and <i class="em em-computer"></i></p> 
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>