<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://kit.fontawesome.com/7f03acd592.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/why-us.css">

    
</head>
<body>
    <div class="jumbotron-fluid why-us-background ">

        <div class="container">
            <div class="row d-flex justify-content-center align-items-center text-center pt-5 pb-5">
                <h2>Why choose us?</h2>
                <div class="w-100"></div>
                <p class="col-lg-6">Laudem latine persequeris id sed, ex fabulas delectus quo. No vel partiendo abhorreant vituperatoribus.</p>
            </div>

            <div class="row">
                <div class="col-lg-4 text-center rounded">
                    <div class="card mb-3 border-0">
                        <i class="far fa-gem fa-3x pt-4"></i>
                        <div class="card-body">
                            <h4 class="card-title">Corporis dolorem</h4>
                            <p class="card-text">Deleniti optio et nisi dolorem debitis. Aliquam nobis est temporibus sunt ab inventore officiis aut voluptatibus.</p>
                            <a href="#" class="readmore font-weight-bold ">Read more</a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 text-center rounded">
                    <div class="card mb-3 border-0">
                        <i class="fa fa-language fa-3x pt-4"></i>
                        <div class="card-body">
                            <h4 class="card-title">Voluptates dolores</h4>
                            <p class="card-text">Voluptates nihil et quis omnis et eaque omnis sint aut. Ducimus dolorum aspernatur.</p>
                            <a href="#" class="readmore font-weight-bold">Read more</a>
                        </div>
                    </div>
                </div>
                
                <div class="col-lg-4 text-center rounded">
                    <div class="card mb-3 border-0">
                        <i class="fas fa-photo-video fa-3x pt-4"></i>
                        <div class="card-body">
                            <h4 class="card-title">Eum ut aspernatur</h4>
                            <p class="card-text">Autem quod nesciunt eos ea aut amet laboriosam ab. Eos quis porro in non nemo ex.</p>
                            <a href="#" class="readmore font-weight-bold">Read more</a>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="row mt-4 pb-4">
                <div class="col-6 col-lg-3 text-center">
                    <span class="font-weight-bold counter purecounter" data-purecounter-start="0" data-purecounter-end="274" data-purecounter-duration=".8">0</span>
                    <p class="font-weight-light">Clients</p>
                </div>
                
                <div class="col-6 col-lg-3 text-center">
                    <span class="font-weight-bold counter purecounter" data-purecounter-start="0" data-purecounter-end="421" data-purecounter-duration=".8">0</span>
                    <p class="font-weight-light">Projects</p>
                </div>

                <div class="col-6 col-lg-3 text-center">
                    <span class="font-weight-bold counter purecounter" data-purecounter-start="0" data-purecounter-end="1364" data-purecounter-duration=".8">0</span>
                    <p class="font-weight-light">Hours Of Support</p>
                </div>

                <div class="col-6 col-lg-3 text-center">
                    <span class="font-weight-bold counter purecounter" data-purecounter-start="0" data-purecounter-end="18" data-purecounter-duration=".8" data-purecounter-delay="40">0</span>
                    <p class="font-weight-light">Hard Workers</p>
                </div>
            </div>

        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <!--counter-->
    <script async src="../js/dist/purecounter.js"></script>
</body>
</html>